.todoItemRoot {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.todoItemRoot:first-child {
  margin-top: 0;
}

.todoItem {
  border: 1px solid gray;
  width: 60%;
  padding: 16px;
  border-radius: 6px;
  background-color: #FFD344;
}

.todoItem:hover {
  cursor: pointer;
}

.todoItem_completed {
  background-color: #2DC66C; 
}

.deleteIcon {
  color: #C92D25;
  margin-left: 16px;
}

.deleteIcon:hover {
  cursor: pointer;
}